<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
        <link rel="manifest" href="/static/site.webmanifest" />

        <title>bfqul</title>

        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/script.js" defer></script>

        <meta name="title" content="bfqul" />
        <meta name="description" content="biden approves" />
        <meta name="image" content="/static/38610126-joe-biden-jpg.jpg" />
        <meta name="keywords" content="youtube, petit tube, school, school district, unified school district, elementary, middle school, high school, secondary school, primary school, union school district, usa, us, united states, united states of america" />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="revisit-after" content="30 days" />
        <meta name="author" content="ronin" />
    </head>
    <body>
        <div class="wordmark"><a href="/">bfqul</a></div>

        <div class="player">
            <iframe
                width="840"
                height="472.5"
                src="https://www.youtube.com/embed/{{video}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
            ></iframe>
        </div>

        <div class="bottom">
            <div class="info" onclick="popup('site that (attempts) to get random school district videos. might also get county videos and whatnot lmao')">what is this?</div>
        </div>
    </body>
</html>